certifi==2020.4.5.2
chardet==3.0.4
get==2019.4.13
idna==2.9
linkedin-scraper==2.4.5
lxml==4.5.1
post==2019.4.13
public==2019.4.13
pynput==1.6.8
pyobjc-core==6.2
pyobjc-framework-Cocoa==6.2
pyobjc-framework-Quartz==6.2
query-string==2019.4.13
request==2019.4.13
requests==2.23.0
selenium==3.141.0
six==1.15.0
urllib3==1.25.9
